{
  "api.version": "v1",
  "sources": [
{% if sumologic_collector_application_log_path is defined %}
{% for source in sumologic_collector_log_paths %}
    {
      "name": "{{ source.name }}",
      "sourceType": "LocalFile",
      "automaticDateParsing": true,
      "multilineProcessingEnabled": "{{ source.use_multiline }}",
      {% if source['use_autoline_matching'] is not defined or source['use_autoline_matching'] == true %}
        "useAutolineMatching": true,
      {% else %}
        "useAutolineMatching":false,
        "manualPrefixRegexp":"{{ source.manual_prefix_regex }}",
      {% endif %}
      "forceTimeZone": {{ sumologic_collector_force_timzone }},
      "timeZone": "{{ sumologic_collector_timezone }}",
      "category": "{{ source.category }}",
      "pathExpression": "{{ source.path }}"
    }
    {% if not loop.last %}
        ,
    {% endif %}
{% endfor %}
{% endif %}
  ]
}
